<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/images/icon.png">
    <title>City Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h1> City facts and numbers </h1>
            <p id="showcity"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3> Average Salary</h3>
                <p id="showaveragesalary"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Median House Price</h3>
                <p id="showmediahousingcost"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Median Rent</h3>
                <p id="showmedianrent"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Unemployment Rate</h3>
                <p id="showunemploymentrate"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Average High Temperature</h3>
                <p id="showhightemp"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Average Low Temperature</h3>
                <p id="showlowtemp"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Median Age</h3>
                <p id="showmedianage"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Average House Price</h3>
                <p id="showaveragehouseprice"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Data Analyst Salary</h3>
                <p id="showsalary"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Data Analyst Positions</h3>
                <p id="showpositions"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Monthly Mortgage</h3>
                <p id="showmonthlymortgage"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Mortgage to Salary Ratio</h3>
                <p id="showmortgagebysalary"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Annual Rent</h3>
                <p id="showannualrent"></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12  col-md-9">
            <div class="article">
                <h3>Rent by Salary Ratio</h3>
                <p id="showrentbysalary"></p>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <div id="footer">
    </div>
   

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster-->

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script type="text/javascript" src="../static/js/citypage.js"></script>	
    <script>
        feather.replace()
    </script>
</body>

</html>